/* search bar text color */
.leaflet-control-geosearch form input {
    color: #233438;
  }
  
  /* Styling for the placeholder text */
  .leaflet-control-geosearch form input::placeholder {
    color: #888;
  }
  
  /* Style for the text when it's focused */
  .leaflet-control-geosearch form input:focus {
    color: #000; 
  }
  
  /* Style for the results dropdown */
  .leaflet-control-geosearch form .results > * {
    color: #233438; 
  }
  
  /* Hover style for the results */
  .leaflet-control-geosearch form .results > *:hover {
    color: #000; 
    background-color: #f0f0f0; 
  }

  .leaflet-control-length {
    background-color: rgba(255, 255, 255, 0.9) !important;
    padding: 8px 15px !important;
    border-radius: 5px !important;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2) !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #333 !important;
    border: 2px solid rgba(0,0,0,0.1) !important;
    margin: 15px !important;
    z-index: 1000 !important;
  }