/* search bar text color */
.leaflet-control-geosearch form input {
    color: #233438;
  }
  
  /* Styling for the placeholder text */
  .leaflet-control-geosearch form input::placeholder {
    color: #888;
  }
  
  /* Style for the text when it's focused */
  .leaflet-control-geosearch form input:focus {
    color: #000; 
  }
  
  /* Style for the results dropdown */
  .leaflet-control-geosearch form .results > * {
    color: #233438; 
  }
  
  /* Hover style for the results */
  .leaflet-control-geosearch form .results > *:hover {
    color: #000; 
    background-color: #f0f0f0; 
  }

  .length-display {
    color: #233438;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #f0f0f0; 
    padding: 2px 4px;
    border-radius: 2px;
    border: #000 1px solid;
    opacity: 0.8;
    pointer-events: none;
  }
  

  /* Button base styles */
.button {
  width: 40px;
  height: 40px;
  border-radius: 5%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

/* Point and Polyline mode button styles */
.button.mode-button {
  background: #F7FEBE;
  color: #233438;
}

.button.mode-button.active {
  background: #F04642;
  color: white;
}

/* Undo button styles */
.button.undo {
  margin-top: 10px;
  background: #ccc;
  color: white;
}

.button.undo.active {
  background: #00FF00;
}

/* Clear button styles */
.button.clear {
  background: #ccc;
  color: white;
}

.button.clear.active {
  background: #FFA500;
}

/* Save button styles */
.button.save {
  background: #4169E1;
  color: white;
}

.custom-square-icon {
  cursor: crosshair !important;
}



